a.my-brand-logo {
    padding: 0 0 0 50px;
}

.my-navbar {
    height:120px;
    position: fixed;
    z-index: 2;
}

#logo {
     padding: 25px 0 0 1%;
     cursor: pointer;
    height:82%;
 }

.my-nav-wrapper {
    width:100%;
}

.my-hide-on-med-and-down {
    line-height: 120px;
    padding:0 40px 0 0;
}

.my-button-margin {
    margin: 30px 0 0 7%;
}

.my-menu-hover:hover {
    background-color: rgba(201,177,111,0.4);
}

#background {
    background: url(img/background.jpg) no-repeat;
    background-size:100% 100%;
    height:650px;
    /**/
    /*height: 160px;*/
    padding:120px 0 0 0;
}

#background-color-layer {
    background-color:rgba(178,157,99,0.5);
    width: 100%;
    height: 100%;
}

.padding-top-3 {
    padding: 3% 0 0 0;
}
/*header, main, footer {*/
    /*padding-left: 240px;*/
/*}*/

/*.my-menu-icon {*/
    /*color: black;*/
    /*padding: 40% 0 0 50%;*/
/*}*/

/*@media only screen and (max-width : 992px) {*/
    /*header, main, footer {*/
        /*padding-left: 0;*/
    /*}*/
/*}*/


